!!!
%html
  %head
    %title Bidder
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .brand Bidder
          %ul.nav
            %li.active
              = link_to "Home"
          - if user_signed_in?
            %p.navbar-text.pull-right
              Logged in as
              = link_to(current_user.email, destroy_user_session_path, :method=>'delete')
    #container.container
      %header
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      #main{:role => "main"}
        = yield
      %footer
        %p
          © Company 2012